body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.container {
  width: 1000px;
}
header,
footer {
  background-color: #1378ae;
  padding: 20px 500px 20px 500px;
  margin-bottom: 30px;
  border-radius: 8px;
}
main {
  background-color: #281d48;
  padding: 20px;
  border-radius: 8px;
}
main,
header,
footer {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 30px;
  align-items: stretch;
  margin: 0;
  justify-content: flex-start;
  margin-bottom: 20px;
}
aside {
  background-color: #1378ae;
  padding: 150px;
  margin-left: 13px;
}
section {
  background-color: #1378ae;
  padding: 20px 123.5px 20px 123.5px; /* تعديل الحشوة العلوية لتصبح أصغر */
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

p {
  padding-left: 489px;
  margin: 0;
  margin-bottom: 5px;
}
article {
  margin-top: 25px;
  background-color: #e7767c;
  padding: 90px 120px 90px 120px;
}
footer {
  margin-top: 30px;
}
